.header{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color:wheat;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 10;
  height: auto;
  padding-right: 10px;
  padding-left: 10px;
}
nav li{
  display: inline-block;
  margin: 0 8px;

}
nav a{
  text-decoration: none;
}
.logo{
  font-size: 30px;
  font-weight: bold;
}
nav li  a:hover{
  color: red;
}
.header button{
  background-color: blue;
  color: white;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.menu{
  display: none;
  cursor: pointer;
}


.main input {
  width: 50%;
  height: 40px;
  border-radius: px;
  margin-right: 2%;
  color: black;
  display: inline-block;
  padding: 10px; /* Space for the border */
  border: 5px solid; /* Border width */
  border-image: linear-gradient(to right, #1d4deb, #feb47b) 1; /* Gradient border */
  font-weight: 5200%;
}
.main button {
  border-radius: 30px;
}
.main {
  border-radius: 10px;
  background-color: #003912;
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/d0455bf6c66913ebcaff9878b79bfcf0-1705308316571/hero-md.png);
  margin: 0 5px;
}
.main button {
  margin-bottom: 1%;
  width: 5%;
}
.main2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body {
  margin: 0% 90px;
  font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.box1 {
  width: 120px;
  margin-top: 20px;
  height: 70px;
  margin: 20px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 16px;
  box-shadow: 2px 2px 2px 2px black;
  text-align: center;
  padding-top: 25;
  padding-top: 30px;
}
.box1 a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  text-align: center;
  padding-top: 5%;
}
.box1:hover {
  color: #1dbf73;
  cursor: pointer;
  background-color: #003912;
}

.box1:hover a {
  color: white;
}
.main3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box2 {
  border-radius: 16px;
  margin: 12px 4px;
  min-height: 235px;
  padding: 25px 6px 6px;
  width: 188px;
  flex-direction: column;
  display: flex;
  column-gap: var(--slide-padding);
  flex-wrap: wrap;
}
.box2 a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  font-weight: 600;
  text-align: center;
}
.box2 img {
  border-radius: 20px;
  width: 85%;
  box-shadow: black 0 5px 5px;
  margin-top: 15%;
  justify-items: center;
  margin-left: 7%;
  margin-bottom: 80px;
}
.box2:hover a {
  color: blue;
}

.box2:hover img {
  box-shadow: black 0 7px 20px;
  transform: scale(1.1);
}
.main4 {
  width: 100%;
  background-size: 100%;
  padding-bottom: 5%;
  background-position-y: 30%;
  
}
.box3 {
  width: 50%;
  margin-top: 3%;
  box-shadow: black 0 7px 7px;
  margin: 2% 60px;
  flex-direction: column;
  display: flex;
  column-gap: var(--slide-padding);
  flex-wrap: wrap;
  overflow: hidden;
}
.box3 img {
  width: 30px;
  margin-left: 10px;
  margin-top: 5px;
}
.box3:hover {
  box-shadow: orangered 0 7px 20px;
}
.main5 {
  background-color: #003912;
  border-radius: 12px;
  color: white;
  padding: 1% 5% 5%;
  margin-top: 5%;
}
.main h2 {
  line-height: 60px;
  font-weight: 100%;
  font-style: italic;
}
.main5 img {
  margin-left: 15%;
}
.main5 img:hover {
  box-shadow: black 0px 5px 5px;
}
.main5 button {
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  background-color: orange;
  margin-top: 5%;
  color: black;
}
.main6 {
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.main6 img {
  width: 200%;
  position: static;
  box-shadow: black 0 5px 5px 2px;
}
.main6 p {
  color: #003912;
  font-size: 24px;
  line-height: 36px;
  font-family: DomaineDisplay, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 20%;
}
.left {
  font-size: 32px;
  font-weight: 100%;
  letter-spacing: -0.96px;
  line-height: 38px;
  color: gray;
  padding-top: 5%;
}
.main7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  margin-top: 50px;
  justify-content: space-between;
}

.main7 img {
  width: 100%;
  height: auto; /* Maintains aspect ratio */
}
.main7 .box5 {
  width: 23%;
  margin-top: 10%;
  box-sizing: border-box;
}
.main7 h2 {
  width: 100%;
  color:black;
  font-weight: 400px;
  padding-left: 20px;
}
.main8 {
  background-color: #4d1727;
  color: white;
  text-align: center;
  padding-top: 1%;
  margin-top: 5%;
  height: auto;
  border-radius: 8px;
}
.main8 button {
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  color: black;
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 15px;
}
.main8 h2 {
  font-style: italic;
}
.footer {
  padding-top: 1%;
  font-size: small;
  font-weight: 100%;
  color: gray;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  bottom: 0px;
  margin-left: 5px;
}
.footer h1 {
  width: 60%;
}
.footer ul li {
  display: inline;
}
.footer ul li a {
  color: black;
  display: inline;
}
.main7.box5:hover {
  transform: scale(1.3);
  z-index: 2;
}
.box5 img {
  width: 50%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 60px;
  justify-content: space-evenly;
  margin-bottom: 25px;
  height: 150px;
  gap: 20px;
}

.box5 img:hover {
  box-shadow: black 0px 5px 5px 5px;
  transform: skew(45deg);
  transform: scale(1.1);
}
.logo-container {
  overflow: hidden; 
  width: 100%; /* Adjust based on your layout */
}

.logo {
  
  background-color: white;
  display: flex;
  flex-direction: row;
  width: calc(200px * 9); /* Total width based on number of images */
  animation: scroll 20s linear infinite; /* Adjust timing as needed */
}
.partner h1{
  font-style: bold  ;
}


.logo img {
  width: 200px; /* Fixed width for images */
  height: 200px; /* Fixed height for images */
  margin-right: 50px; /* Adds space between images */
  gap: 0%;
}

@keyframes scroll {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(calc(-200px * 15)); /* Adjust this based on the number of images */
  }
}
 





/* Mobile devices (less than 768px) */
@media (max-width: 768px) {
 
    .header{
        flex-direction: column;
        display: flex;
        
    }
    .header li{
        display: block;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    nav ul{
        text-align: center;
    }
    .logo{
        align-self: flex-start;
       
    }
    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top:25px ;
    }
    .showmenu{
        display: block;
    }
  .main input {
    width: 40%;
    margin-bottom: 50px;
  }
  .main button {
    width: 20%;
  }
  .main2{
    margin-left: 10px;
  }

  .box1{
    width: 35%;
    
  }
  .box2 {
    height: auto;
    width: 45%;
    margin: 10px auto;
    
  }
  .main4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: none;
  }
  .box3 {
    background-color: gray;
    box-sizing: border-box;
    color: black;
    width: 25%; 
  }
  .hand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;flex-direction: row;}

  .main h2 {
    font-size: 28px;
  }
   
   .main5 img{
    width: 40%;
   }
  
  .main7 {
    color: black;
    background-image: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .main7 img {
    height: 70px;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main7 .box5 {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  

  .main input {
    width: 70%;
    margin-bottom: 30px;
  }
  .main button {
    width: 100px;
  }
  .main2{
    margin-left: 30px;
  }
  .box1 {
    width: 100px;
  }
  .box2{
    margin-left: 20px;
  }
  .main3 {
    width: 100%;
  }
  .main3 img{
    margin-top: 25px;
    margin-bottom: 1px;
  }

  .main3 .box2 {
    width: 25%;
    height: auto;
  }
  .main4{
    width: 100%; 
   
  }
 .box3{
  width: 23%;
 }
  .main4 .box3 {
    width: 40%;
    height: auto;
    margin-left: 0px;
   
  }
  .hand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;flex-direction: row;
  
  }
  
  .main5 img {
    width: 60%;
  }
  .box5 {
    width: 45%;
  }

  .main h2 {
    font-size: 32px;
  }
  .main7{
    width: 100%;
  }
  .main7 img{
    width: 30%;
    height: 90px;
  }
}



/* Desktops (1024px and above) */
@media (min-width: 1024px) {
  
  
  .main button {
    width: 5%;
  }
  .main input {
    margin-bottom: 20px;
  }

  .main2{
    margin-left: 25px;
  }

  .box1 {
    width:10%;
    margin: 15px;
    
  }

  .main h2 {
    font-size: 40px;
  }
  .main3 .box2{
    width: 10%;
    margin: 15px;
  }
  .main4 .box3 {
    margin-left: 10%;
    width: 30%;
   
  }
  
  .hand{
    width: 100%;
    display: flex;
    flex-wrap: wrap;flex-direction: row;
    margin-top: 50px;
  }

   .main5 img {
    width: 70%;
  }
  .footer button {
    gap: 20px;
  }


  @media (min-width: 769px) and (max-width: 795px) {

    .main7 .box5 img {
      width: 20%;
      background-image: none;
    }
}}
